{% extends 'main/base.html' %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
<div class="about-section">
    <h1 style="text-align: center;">О нас</h1>
    <p>Добро пожаловать в секцию спортивного программирования в нашем университете! Наша команда занимается развитием навыков в области продуктового и алгоритмического программирования у студентов всех специальностей. У нас созданы все условия для того, чтобы вам было комфортно изучать новые технологии и практиковаться в решении различных программистских задач. Наши занятия проходят в субботу в 15:00 в аудитории 3315.</p>

    <p>Независимо от вашего уровня знаний, на наших занятиях вы научитесь создавать сложные программные продукты, работать с алгоритмами, такими как поиск в глубину, поиск в ширину, бинарный поиск, сортировка и многое другое. Вместе мы сможем свободно читать и писать код, а также готовиться к таким международным олимпиадам по программированию, а еще у нас есть чай и вкусняшки</p>

    <p>В центре нашей методики - индивидуальный подход к каждому участнику и дружеская атмосфера. Помимо групповых занятий, каждый студент получает индивидуальные консультации и задания для самостоятельной работы. Если вы хотите развить свои навыки в программировании, любите решать сложные задачи и хотите стать частью нашей дружной команды - присоединяйтесь к нам в эту субботу в 15:00 в аудитории 3315. Мы ждем вас!</p>
</div>
{% endblock %}
