{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    О нас
{% endblock %}

{% block content %}
<div class="about-section">
    <h1 style="text-align: center;">О нас</h1>
    <p>Добро пожаловать в секцию спортивного программирования в нашем университете! Наша команда занимается развитием навыков в области продуктового и алгоритмического программирования у студентов всех специальностей. У нас созданы все условия для того, чтобы вам было комфортно изучать новые технологии и практиковаться в решении различных программистских задач. Наши занятия проходят в субботу в 15:00 в аудитории 3315.</p>

    <p>Независимо от вашего уровня знаний, на наших занятиях вы научитесь создавать сложные программные продукты, работать с алгоритмами, такими как поиск в глубину, поиск в ширину, бинарный поиск, сортировка и многое другое. Вместе мы сможем свободно читать и писать код, а также готовиться к таким международным олимпиадам по программированию, а еще у нас есть чай и вкусняшки</p>

    <p>В центре нашей методики - индивидуальный подход к каждому участнику и дружеская атмосфера. Помимо групповых занятий, каждый студент получает индивидуальные консультации и задания для самостоятельной работы. Если вы хотите развить свои навыки в программировании, любите решать сложные задачи и хотите стать частью нашей дружной команды - присоединяйтесь к нам в эту субботу в 15:00 в аудитории 3315. Мы ждем вас!</p>
    <p>Кстати сайт и мобильное приложение к нему были разработаны как раз в рамках этой секции</p>
    <p>
        <img id="img0" src="{% static 'main/img/about_photos/1.jpg' %}" onclick="imgchange()" style="width: 40%; margin-left: 27%; margin-right: 30%;">
        <ul>
            <li><h2 style="text-align: center;">Полезная информация</h2></li>
            <li>
                <p><a href="https://vk.me/join/gJp7cpsW1t8rvplQWSQpWZByeWMkj//KrD8=">Ссылка на чат секции</a></p>
                <p><a href="https://vk.com/caoricun">Ссылка на преподователя</a></p>
                <p>Кабинет: 3315</p>
                <p>Время: 15:00 каждую субботу</p>
                <p>Адрес: улица Саши Устинова, 1, Большая Санкт-Петербургская ул., 41, Великий Новгород, Новгородская обл., 173003 </p>

            </li>
        </ul>
    </p>
    <script>
        var images = [
    "{% static 'main/img/about_photos/1.jpg' %}",
    "{% static 'main/img/about_photos/2.jpg' %}",
    "{% static 'main/img/about_photos/3.jpg' %}",
    "{% static 'main/img/about_photos/4.jpg' %}",
    "{% static 'main/img/about_photos/5.jpg' %}"
];
var currentIndex = 0;

function imgchange() {
    var img = document.getElementById("img0");
    currentIndex = (currentIndex + 1) % images.length;
    img.src = images[currentIndex];
}

    </script>
</div>
{% endblock %}
