{% extends 'main/base.html' %}

{% block title %} Создание новости {% endblock %}

{% block content %}
{% if user.is_staff %}

  <form method="POST" enctype="multipart/form-data">
    <h2 style="text-align: center;margin-top: 2px;margin-bottom: 2px;">Создание новости</h2>
    {% csrf_token %}
    <label for="title">Заголовок</label>
    <input type="text" id="title" name="title">
    <br>
    <label for="content">Текст новости</label>
    <textarea id="content" name="content"></textarea>
    <br>
    <label for="photo">Фото</label>
    <input type="file" id="photo" name="photo">
    <br>
    <button type="submit">Создать новость</button>
    <button onclick="history.go(-1);">Назад</button>
  </form>


{% else %}
<button class="back" onclick="history.go(-1);">Назад</button>
{% endif %}
{% endblock %}