{% extends 'main/base.html' %}

{% block title %} Подробности {% endblock %}

{% block content %}

<ul style="margin-right: 3%;">
    <h2>{{ event.title }}</h2>
    <li>{{ event.content }}</li>

    <li>
        <p>Организатор: {{ event.organizer }}</p>
        <p>Место проведения: {{ event.location }}</p>
        <p>Дата проведения: {{ event.date }}</p>
        <p>Дата регистрации: {{ event.registration_date }}</p>
    </li>

    <li>
        <ol>

            <ul style="display: flex; list-style-type: none;">

                {% for tag in event.tags.all %}
                <li style="margin-right: 10px; border: 1px solid black; padding: 5px;">{{ tag.name }}</li>
                {% endfor %}

            </ul>
        </ol>
    </li>

    <li>
        <p>Список команд:</p>
        <ul>
            {% for team, members in accepted_members.items %}
                <li>{{ team.name }}
                {% if user.is_staff %}
                    <a href="{% url 'team_application' team.id %}">
                        <button style="margin-left: 1%">Просмотр заявок в команду</button>
                    </a>

                {% endif %}
                <p>Список участников команды {{ team.name }}:</p>
                    <ul>
                        {% for member in members %}
                            <li>{{ member.username }}</li>
                        {% endfor %}
                        {% for j_team, num in free_spots.items %}
                            {% if j_team == team %}
                                {% for _ in num %}
                                    <li></li>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        {% if team.members.count < team.num_members %}
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'send_application' team.id event.id %}">
                                    {% csrf_token %}
                                    <button type="submit">Откликнуться</button>

                                </form>
                            {% endif %}
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}

        </ul>
    </li>
    <button onclick="history.go(-1);">Назад</button>
    {% if user.is_staff %}
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">Удалить мероприятие</button>
    <a href="{% url 'edit_event' event.id %}" class="btn btn-primary">Редактировать мероприятие</a>

    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Подтвердите удаление мероприятия</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Вы уверены, что хотите удалить это мероприятие?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <form action="{% url 'delete_event' event.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'));

function confirmDelete() {
    var result = confirm("Вы уверены, что хотите удалить это мероприятие?");
    if (result === true) {
        document.querySelector("form").submit();
    }
}


document.querySelector(".btn-danger").addEventListener("click", function() {
    myModal.show();
});
</script>
{% endif %}
</ul>
{% endblock %}
