{% extends 'main/base.html' %}

{% block title %} Подробности {% endblock %}

{% block content %}

<ul>
    <h2>{{ event.title }}</h2>
    <li>Дата проведения: {{ event.date }}</li>
    <li>Место проведения: {{ event.location }}</li>
    <li>Организатор: {{ event.organizer }}</li>
    <li>{{ event.content }}</li>
    <li>Дата регистрации: {{ event.registration_date }}</li>
    <li>
        <ul>
            теги:
            {% for tag in event.tags.all %}
                <li>{{ tag.name }}</li>
            {% endfor %}
        </ul>
    </li>
    <li>Список команд:
        <ul>
            {% for team in event.teams.all %}
                <li>{{ team.name }}</li>
                <li>Список участников команды {{ team.name }}:
                    <ul>
                        {% for member in team.members.all %}
                            <li>{{ member.username }}</li>
                        {% endfor %}
                        <button>Откликнутся</button>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
    <button onclick="history.go(-1);">Назад</button>
</ul>
{% endblock %}
