{% extends 'main/base.html' %}

{% block title %}Мероприятия{% endblock %}

{%block content%}


<div style="margin-right: 3%">

    <ul>
        {% if user.is_staff %}
            <div class="admin-panel">
                <a href="{% url 'create_event' %}"><button class="admin-panel-button">Создать мероприятие</button></a>
            </div>
        {% endif %}
    <h1 style="display: flex; justify-content: center; align-items: center;margin-bottom: 2%;">Хакатоны</h1><br>
    {% for single_event in events %}
        <li>
            <ul>
                <li><h2>{{ single_event.title }}</h2></li>
                <li>{{ single_event.description }}</li>
                <li>
                <p>Дата проведения: {{ single_event.date }}</p>
                <p class="registration-date">Дата регистрации: {{ single_event.registration_date }}</p>
                </li>


                <p class="event-photo status-badge status-{{ single_event.status }}">
                    <img src="{{ single_event.photo.url }}" alt="Фото хакатона">

                </p>
                <li>
                <ol>

                    <ul style="display: flex; list-style-type: none;">

                        {% for tag in single_event.tags.all %}
                        <li style="margin-right: 10px; border: 1px solid black; padding: 5px;">{{ tag.name }}</li>
                        {% endfor %}

                    </ul>
                </ol>
                </li>
                <p><button type="button" onclick="location.href='{% url 'event_detail' single_event.id %}'">Подробности</button></li></p>
            </ul>

        </li>
    {% endfor %}
    </ul>
</div>
{%endblock%}
