{% extends 'main/base.html' %}

{% block title %} Подробности {% endblock %}

{% block content %}

<ul style="margin-right: 3%;">
    <h2>{{ event.title }}</h2>
    <li>{{ event.content }}</li>

    <li>
        <p>Организатор: {{ event.organizer }}</p>
        <p>Место проведения: {{ event.location }}</p>
        <p>Дата проведения: {{ event.date }}</p>
        <p>Дата регистрации: {{ event.registration_date }}</p>
    </li>

    <li>
        <ol>

            <ul style="display: flex; list-style-type: none;">

                {% for tag in event.tags.all %}
                <li style="margin-right: 10px; border: 1px solid black; padding: 5px;">{{ tag.name }}</li>
                {% endfor %}

            </ul>
        </ol>
    </li>

    <li>
        <p>Список команд:</p>
        <ul>

            {% for team in event.teams.all %}
                <li>{{ team.name }}
                <p>Список участников команды {{ team.name }}:</p>
                    <ul>
                        {% for member in team.members.all %}
                            <li>{{ member.username }}</li>
                        {% endfor %}
                        <button>Откликнутся</button>
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </li>
    <button onclick="history.go(-1);">Назад</button>
</ul>
{% endblock %}
