{% extends 'main/base.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}

  {% if user.is_staff %}
    <div class="admin-panel">
      <a href="{% url 'create_news' %}"><button>Создать новость</button></a>
    </div>
  {% endif %}
<ul>
  {% for single_news in news %}
    <li>
      <h1>{{ single_news.title }}</h1>
      <p>{{ single_news.content }}</p>
      <p>Автор: {{ single_news.author }}</p>
      <p>Дата публикации: {{ single_news.date_published }}</p>
      <img src="{{ single_news.photo.url }}" alt="Фото новости">
      <p>Количество лайков: <span id="like-count-{{ single_news.id }}">{{ single_news.like_count }}</span></p>
      <button type="button" onclick="">Like</button>
      <button type="button" onclick="location.href='{{ single_news.id }}'">Перейти к новости</button>
      <h2>Комментарии:</h2>
      <div>
        <a href=""><button><label>Оставить комментарий: </label></button></a>
        <textarea name="content"></textarea>
      </div>

      <!-- Первый комментарий -->
      {% if single_news.has_comments  %}

      <ul>
        <li>
          <p>{{ single_news.comment_set.first.content }}</p>
          <p>Автор комментария: {{ single_news.comment_set.first.user }}</p>
          <p>Дата комментария: {{ single_news.comment_set.first.date_posted }}</p>
          <p>Количество лайков: {{ single_news.comment_set.first.like_count }}</p>
          <button type="button" onclick="">Like</button>
          {% if user.is_staff %}
            <button>Удалить комментарий</button>
          {% endif %}
        </li>
      </ul>

      <!-- Остальные комментарии (начально скрыты) -->
      <ul id="hidden-comments-{{single_news.id}}" style="display:none">
        {% for comment in single_news.comment_set.all|slice:"1:" %}
          <li>
            <p>{{ comment.content }}</p>
            <p>Автор комментария: {{ comment.user }}</p>
            <p>Дата комментария: {{ comment.date_posted }}</p>
            <p>Количество лайков: {{ comment.like_count }}</p>
            <button type="button" onclick="">Like</button>
            {% if user.is_staff %}
            <button>Удалить комментарий</button>
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <button type="button" onclick="showAllComments({{single_news.id}})">Показать все комментарии</button>
      {% endif %}

      <script>
        function showAllComments(newsId) {
          var hiddenComments = document.getElementById('hidden-comments-' + newsId);
          hiddenComments.style.display = 'block';
        }
      </script>

    </li>
  {% endfor %}
</ul>
{% endblock %}