{% extends 'main/base.html' %}
{% load static %}
{% block title %}Новости{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<ul style="margin-right: 2%;">
    {% if user.is_staff %}
    <div class="admin-panel">
      <a href="{% url 'create_news' %}"><button class="admin-panel-button">Создать новость</button></a>
    </div>
  {% endif %}
  {% for single_news in news %}
    <li>
      <h1>{{ single_news.title }}</h1>
      <p>{{ single_news.content }}</p>
      <p>Автор: {{ single_news.author }}</p>
      <p>Дата публикации: {{ single_news.date_published }}</p>
      <img src="{{ single_news.photo.url }}" alt="Фото новости">
      <p>Количество лайков: <span id="like-count-{{ single_news.id }}">{{ single_news.like_count }}</span></p>
      <button class="like-button" data-news-id="{{ single_news.id }}">Лайк</button>

      <button type="button" onclick="location.href='{{ single_news.id }}'">Перейти к новости</button>
      <h2>Комментарии:</h2>
      <div>
          <form id="comment-form" data-news-id="{{ single_news.id }}">
              {% csrf_token %}
              <textarea id="content" placeholder="Напишите ваш комментарий"></textarea>
              <button type="submit">Оставить комментарий</button>
          </form>
      </div>

      <!-- Первый комментарий -->
      {% if single_news.has_comments  %}
      <div id="comments-container">
<ul>
  <li>
    <p>{{ single_news.comment_set.first.content }}</p>
    <p>Автор комментария: {{ single_news.comment_set.first.user }}</p>
    <p>Дата комментария: {{ single_news.comment_set.first.date_posted }}</p>
    <p>Количество лайков: {{ single_news.comment_set.first.like_count }}</p>
    <button class="like-button-comment" data-comment-id="{{ single_news.comment_set.first.id }}">Лайк</button>

    {% if user.is_staff %}
      <button class="delete-comment-button" data-comment-id="{{ single_news.comment_set.first.id }}">Удалить комментарий</button>
    {% endif %}
  </li>
</ul>

      <!-- Остальные комментарии (начально скрыты) -->
      <ul id="hidden-comments-{{single_news.id}}" style="display:none">
        {% for comment in single_news.comment_set.all|slice:"1:" %}
          <li>
            <p>{{ comment.content }}</p>
            <p>Автор комментария: {{ comment.user }}</p>
            <p>Дата комментария: {{ comment.date_posted }}</p>
            <p id="like-count-comment-{{ comment.id }}">Количество лайков: {{ comment.like_count }}</p>

            <button class="like-button-comment" data-comment-id="{{ comment.id }}">Лайк</button>
          {% if user.is_staff %}
            <button class="delete-comment-button" data-comment-id="{{ comment.id }}">Удалить комментарий</button>
          {% endif %}
          </li>
        {% endfor %}
      </ul>



      <button type="button" onclick="showAllComments({{single_news.id}})" id="commentButton">Показать все комментарии</button>
      </div>


            <div id="deleteCommentModal" class="modal">
          <div class="modal-content">
            <p>Вы уверены, что хотите удалить этот комментарий?</p>
            <button class="confirm-delete-button">Да</button>
            <button class="cancel-delete-button">Отмена</button>
          </div>
    </div>
      {% endif %}

      <script>
        function showAllComments(newsId) {
          var hiddenComments = document.getElementById('hidden-comments-' + newsId);
          hiddenComments.style.display = 'block';
          document.querySelector("#commentButton").style.display = "none";
        }

$(document).ready(function () {
    $('.like-button').one('click', function () {
        const button = $(this);
        const id = button.data('news-id') || button.data('comment-id');
        const url = button.data('news-id') ? `/news/${id}/like/` : `/comment/${id}/like/`;

        $.post(url, function (data) {
            if (data.message === 'Liked successfully') {
                // Обновление UI
                const likeCountElement = $(`#like-count-${id}`);
                const currentLikes = parseInt(likeCountElement.text())+1;
                likeCountElement.text(currentLikes); // Увеличьте счетчик на 1

                // Доработать стиль
                button.addClass('liked');
            } else {
                alert('Ошибка при лайке');
            }
        });
    });
});


$(document).ready(function () {
    $('.like-button-comment').one('click', function () {
        const button = $(this);
        const commentId = button.data('comment-id');
        const url = `/comment/${commentId}/like/`;

        $.post(url, function (data) {
            if (data.message === 'Liked successfully') {
                // Обновление UI
                const likeCountElement = $(`#like-count-comment-${commentId}`);
                const currentLikes = parseInt(likeCountElement.text());
                likeCountElement.text(currentLikes + 1);

                // Сделать стиль для лайкнутого объекта
                button.addClass('liked');
            } else {
                alert('Ошибка при лайке комментария');
            }
        });
    });
});


$(document).ready(function () {
        $("#comment-form").on("submit", function (event) {
            event.preventDefault();
            var newsId = $(this).data("news-id");
            var content = $("#content").val();

            $.ajax({
                type: "POST",
                url: "{% url 'leave_comment' 0 %}".replace(0, newsId),
                data: {content: content, csrfmiddlewaretoken: "{{ csrf_token }}"},
                success: function (data) {

                    $("#content").val("");
                    var commentHtml = '<li style="margin-top: 3px;">Ваш комментарий: ' + data.content + '</li>';
                    $("#comments-container").append(commentHtml);
                },
                error: function (error) {

                    console.log(error);
                }
            });
        });
    });


    document.addEventListener("DOMContentLoaded", function() {
        const deleteCommentButtons = document.querySelectorAll(".delete-comment-button");
        const confirmDeleteButton = document.querySelector(".confirm-delete-button");
        const cancelDeleteButton = document.querySelector(".cancel-delete-button");
        const deleteCommentModal = document.getElementById("deleteCommentModal");

        let commentIdToDelete = null;

        deleteCommentButtons.forEach(function(button) {
            button.addEventListener("click", function(event) {
                commentIdToDelete = event.target.dataset.commentId;
                deleteCommentModal.style.display = "block";
            });
        });

        confirmDeleteButton.addEventListener("click", function() {
            if (commentIdToDelete) {
                // Отправьте AJAX-запрос для удаления комментария на сервер
                fetch(`/delete_comment/${commentIdToDelete}/`, {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": getCookie("csrftoken")
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Если удаление прошло успешно, скройте модальное окно и выполните дополнительные действия (например, удалите комментарий из DOM)
                        deleteCommentModal.style.display = "none";
                    } else {
                        // В случае ошибки отобразите сообщение об ошибке
                        console.error("Ошибка при удалении комментария");
                    }
                });
            }
        });

        cancelDeleteButton.addEventListener("click", function() {
            commentIdToDelete = null;
            deleteCommentModal.style.display = "none";
        });

        // Получение значения CSRF-токена из куки
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift();
        }
    });
      </script>

    </li>
  {% endfor %}
</ul>
{% endblock %}