{% extends 'main/base.html' %}

{% block title %}News detail {% endblock %}

{% block content %}
{% if user.is_staff %}
    <div>
        <form action="{% url 'delete_news' post.id %}" method="post">
            {% csrf_token %}
            <button type="button" onclick="confirmDelete()">Удалить новость</button>
        </form>
        <a href="{% url 'edit_news' post.id %}"><button>Редактировать новость</button></a>
    </div>
{% endif %}

<script>
function confirmDelete() {
    var result = confirm("Вы уверены, что хотите удалить новость?");
    if (result === true) {
        document.querySelector("form").submit();
    }
}
</script>
<ul>
   <li> <h1>{{ post.title }}</h1></li>
   <li> <p>{{ post.content }}</p></li>
   <li> <p>Автор: {{ post.author }}</p></li>
   <li> <p>Дата публикации: {{ post.date_published }}</p></li>
   <li> <img src="{{ post.photo.url }}" alt="Фото новости"></li>
   <li> <p>Количество лайков: {{ post.like_count }}</p></li>
   <button onclick="history.go(-1);">Назад</button>
   <button type="button" onclick="">Like</button>
   <h2>Комментарии: </h2>
       <div>
        <button><label>Оставить комментарий: </label></button>
        <textarea name="content"></textarea>
      </div>
    <ul>
    {% for comment in post.comment_set.all %}
         <p><li>{{ comment.content }}</li></p>
          <p>Автор комментария: {{ comment.user }}</p>
          <p>Дата комментария: {{ comment.date_posted }}</p>
          <p>Лайки: {{ comment.like_count }}</p>
          <button type="button" onclick="">Like</button>
          {% if user.is_staff %}
            <button>Удалить комментарий</button>
          {% endif %}
    {% endfor %}
  </ul>
</ul>
{% endblock %}