.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    position: relative;
}

.logo, .nav-links {
    display: flex;
    align-items: center;
}

.search-bar {
    text-align: center;
    margin-top: 10px;
}

.search-input {
    margin-right: 5px;
}

.logo {
    margin-left: 10px;
    width: 5%;
    height: 5%;
}


.nav-elem {
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 0;
    margin-right: 3%;
}

.nav-elem li {
    margin-right: 10px;
}

.nav-elem li:last-child {
    margin-right: 0;
}

.nav-elem a {
    text-decoration: none;
    color: black;
}

.content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2%;
}

.hidden-comment {
  display: none;
}

#show-comments-btn {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

#show-comments-btn:hover {
  background-color: #aaa;
}


.admin-panel {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}


ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

h1 {
  margin-top: 0;
}

p, button {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

.admin-panel {
  text-align: center;
  margin-top: 2px;
  margin-bottom: 2px;
}

.admin-panel-button {
  padding: 1% 1%;
  font-size: 16px;
}

textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.comment p, .comment button {
  margin-bottom: 10px;
}

.hidden-comments {
  margin-top: 10px;
  display: none;
}

  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
  }

  form {
    margin-bottom: 24px;
  }

  label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 8px;
    display: block;
    color: #666;
  }

  input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }

  input[type="file"] {
    margin-top: 4px;
  }

  button {
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  button:active {
    background-color: #004499;
  }

  button:focus {
    outline: none;
  }

  button.back {
    margin-top: 16px;
    background-color: #ccc;
    color: #333;
  }

  .tag-square {
    display: inline-block;
    padding: 5px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-right: 5px;
}

.event-photo {
    position: relative;
    margin-top: 20px;
}

.event-status {
    font-weight: bold;
    margin-top: 10px;
}


.status-badge {
    position: relative;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}


.status-badge.status-Активно {
    color: green;
}


.status-badge.status-в архиве {
    color: purple;
}


.status-badge.status-регистрация {
    color: orange;
}

.status-badge.status-Активно::before {
    content: "Активно"; /* Текст, который будет добавлен */
    position: absolute; /* Устанавливаем позицию элемента как абсолютную */
    top: 10px; /* Регулируем вертикальное положение текста */
    left: 10px; /* Регулируем горизонтальное положение текста */
    background-color: green; /* Цвет фона текста */
    color: white; /* Цвет текста */
    padding: 5px; /* Отступы вокруг текста */
    border-radius: 5px; /* Закругленные углы для фона текста */
}

.status-badge.status-Архив::before,
.status-badge.status-архив::before {
    content: "В архиве";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: purple;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.status-badge.status-регистрация::before {
    content: "Регистрация";
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


.about-section{
    margin-right: 6%;
    margin-left: 6%;
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}



button#openTeamModal:hover {
  background-color: #005f7f;
}

