.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
}

.nav-links {
    display: flex;
    align-items: center;
    position: relative;
}

.logo, .nav-links {
    display: flex;
    align-items: center;
}

.search-bar {
    text-align: center;
    margin-top: 10px;
}

.search-input {
    margin-right: 5px;
}

.logo {
    margin-left: 10px;
    width: 5%;
    height: 5%;
}


.nav-elem {
    display: flex;
    list-style-type: none;
    position: absolute;
    right: 0;
}

.nav-elem li {
    margin-right: 10px;
}

.nav-elem li:last-child {
    margin-right: 0;
}

.nav-elem a {
    text-decoration: none;
    color: black;
}

.content {
      display: flex;
      justify-content: center;
      align-items: center;
}